<% include ./partials/header %>
<div class="body-container" style="margin: 0 auto;">
	<div id="forum-page-title">
		<h1>Forum</h1>
	</div>

	<div id="forum-page-body">
	<table class="table table-bordered table-hover table-striped table-responsive">
		<thead>
			<tr>
				<th style="width: 150px;">Poster</th>
				<th style="border-right-color: white;">Description</th>
				<th style="width: 150px; border-left-color: white;"><a class="btn btn-primary" href="/forum/new" role="button">New Post</a></th>
			</tr>
		</thead>
		<tbody>
			<% msg.forEach(function(msg){ %> <!-- Start of content loop -->
				<tr>
					<td>
						By: anonymous <%= msg.author %><br>
						<%= msg.date.toDateString() %>
					</td>
					<td colspan="2">
						<!--a href="/forum/<%= msg._id %>"-->
							<div onclick="location.href='/forum/<%= msg._id %>';" style="cursor: pointer;"	>
								<div id="forum-index-title"><%= msg.title %></div>
								<div id="forum-index-body">

									<% if(typeof msg.body != 'undefined') { %>
										<%= msg.body.substring(0,100) %>...
									<% } else { %>
										<%= "..." %>
									<% } %>

								</div>
							</div>
						<!--/a-->
					</td> <!-- Should be fetched from the user info-->
				</tr>
			<% }); %> <!-- End of content loop -->
		</tbody>
	</table>
</div>
	<p>&nbsp;</p>
</div>

<% include ./partials/footer %>
