<% include ./partials/header %>

<h1>This is index page!</h1>

<a href="/msgs/new">Add a new message</a>


<% msg.forEach(function(msg){ %> <!-- Start of content loop -->


<div>
	<h3><%= msg.title %></h3>
	<p><%= msg.body.substring(0,100) %>...</p>
	<p><%= msg.author %></p> <!-- Should be fetched from the user info-->
	<a href="/msgs/<%= msg._id %>">Show full Message</a>
	<p><%= msg.date.toDateString() %></p>
</div>
	




<% }); %> <!-- End of content loop -->





<% include ./partials/footer %>
