<% include ./partials/header %>

<section class="section1" style="margin-top: 5rem;">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3><%= msg.title %> </h3>
      </div>
      <div class="card-block">
        <span id="post-date-created" class="badge badge-pill badge-primary" style="float: right;"><%= msg.dateCreated.toDateString() %></span>
        <div class="card-text" style="margin: 2em auto; text-align: justify;"><%- msg.body %></div>
        <% if (currUsername === msg.author) { %>
          <a href="/forum/<%= msg._id %>/edit" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
          <form class="" action="/forum/<%= msg._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button role="submit button" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
          </form>
        <% } %>
        <p style="float: right; color: grey; font-size: 15px;">
          <em style="margin-right: 2rem;">By: <%= msg.author %> </em>
          <span style="margin-right: 0.5rem;" id="likeText"><i class="fa fa-thumbs-up" aria-hidden="true" id="like" style="font-size: 1.3rem;"></i> 0</span>
          <span><i class="fa fa-thumbs-down" aria-hidden="true" style="font-size: 1.3rem;"id="dislike"></i> 0</span>
        </p>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 20px">
    <div class="card">
      <div class="card-header">
        <h4>Replies</h4>
      </div>
    <% for (var i = 0; i < msg.comments.length; i++) { %>
      <div class="card">
        <body>
          <div style="padding: 5px">
            <div style="font-size: 0.85em;">
              <span style="color: rgb(36, 105, 92);"><%- msg.comments[i].author %></span>
              <span id="msgcomments<%= i %>"></span>
            </div>
            <p style="padding-top: 5px"> <%- msg.comments[i].body %></p>
          </div>
        </body>
      </div>
    <% } %>
    </div>
    <div class="card-block">
      <button id="post-reply" class="btn btn-primary" type="button" name="button">Reply</button>
    </div>
    <% include ./partials/js-scripts/rich-text-forum-comment %>
  </div>
</section>



<script type="text/javascript" src="/js/like.js"></script>
<script src="/js/local-date-comments.js"></script>
<script type="text/javascript">
  sessionStorage.referringPage = 'show';
</script>
<br><br><br><br><br>
<% include ./partials/footer %>
