<% include ./partials/header %>

<div class="container" style="margin-top: 1.5rem;">
  <div class="card">
    <div class="card-header">
      <h3><%= msg.title %> </h3>
    </div>
    <div class="card-block">
      <span class="badge badge-pill badge-primary" style="float: right;"><%= msg.date.toDateString() %></span>
      <p class="card-text" style="margin: 2em auto; text-align: justify;"><%= msg.body %></p>
      <a href="/forum/<%= msg._id %>/edit" class="btn btn-primary">Edit</a>

        <form class="" action="/forum/<%= msg._id %>?_method=DELETE" method="POST" style="display: inline;">
          <button role="submit" class="btn btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </form>
    </div>
  </div>
</div>

<br><br><br><br><br>
<% include ./partials/footer %>
